:root {
    --background-image: url(./img/마법책_1.png);
    --background-opacity: 1.0;
}

body::before {
    content: ""; /* 가상 요소 내용*/
    position: fixed;
    top: 0;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/galaxy_1.gif");
    background-image: var(--background-image); /* 'var'는 변수 값 가져오기*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: var(--background-opacity); /* 'var'는 변수 값 가져오기*/
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 20vh;
    position: relative;
}

#fortune-cookie {
    width: 900px;
    height: 600px;
    cursor: pointer;
    position: relative; /* fortuneSecondimage가 정확한 위치에 표시되도록 함 */
}

.infocontainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    z-index: 999;
}

.fortune-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    cursor: pointer;
}

.fortune-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 300%;
}

.fortuneSecondimage {
    transform: translate(-20%, -52%);
    width: 160vw;
    height: 140vw;
    position: fixed;
    left: 0;
    top: 0;
 /* #fortune-cookie와 같은 위치로 이동 */
}

.fortuneSecondimage img {
    position: absolute;
    bottom: 100px; /* 이미지의 하단 위치를 설정 */
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, 0); /* 수평으로만 중앙 정렬 */
}

.randomFortune {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.restart-button {
    position: fixed;
    top: calc(50% + 150px);
    left: 55%;
    transform: translateX(-20%);
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 120%;
    border: 3px solid rgb(168, 102, 154);
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    z-index: 1000;
}
.reset-button {
    position: fixed;
    top: calc(50% + 150px);
    left: 40%;
    transform: translateX(-40%);
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 120%;
    border: 3px solid rgb(168, 102, 154);
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    z-index: 1000;
}
.hidden {
    display: none;
}

.visible {
    display: block;
}
