@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
.mySwiper{
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(-0%, -130%);
}

.mySwiper .swiper-slide {
    background-position: center;
    background-size: cover;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;   
}
/*메인 화면 css*/
.bigtitle {
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    width : 1050px;
    height : 2750px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#MainPage, #ALL {
    text-align: center;
    color : black;
}
