@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
html,
body {
    position: relative;
    height: 100%;
}
body {
    background-image: url("./img/galaxy.gif");
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header{
    width:100%;
    height:120px;
    background-image: url("./img/galaxy.gif");
}
#header > #logo {
    width:500px;
    height:100px;
    margin: 10px auto;
    background: #111;
}
#nav {
    position: relative;
    width: 800px;
    height: 800px;
    top: 10%;
    left: 15%;
    background-image: url("./img/info_2.png");
    background-repeat: no-repeat;
}

.swiper {
    position: relative;
    width: 300px;
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 110%;
}
.swiper-slide {                         /*슬라이드 이미지 설정*/       
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 95%;                /*큐브 크기 현재 테두리 보이기 위해 95%*/
    border: 5px solid transparent;
    transition: border-color 0.3s;
}

.modal_popup .swiper {
    width: 100%;
    height: 50%;
    padding-top: 30px;
    padding-bottom: 10PX;
    margin: auto;
}
.modal_popup .swiper-slide {                         /*슬라이드 이미지 설정*/       
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_popup .swiper-slide img {
    display: block;
    width: 95%;                /*큐브 크기 현재 테두리 보이기 위해 95%*/
    border: 5px solid transparent;
    transition: border-color 0.3s;
}


.swiper-slide.selected img {
    border-color: #e0bf4c;            /*선택시 테두리 색*/
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);                  /*모달창 배경 색*/
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.modal.on {
    opacity: 1;
    visibility: visible;
}
.modal .modal_popup {
    transform: scale(0.1);                    /*초기 크기*/
    padding: 20px;
    background: #555;
    border-radius: 20px;
    transition: transform 0.3s;
}
.modal.on .modal_popup {
    transform: scale(2);                   /*2배까지 확대하며 모달창이 나옴 */
}
.modal .modal_popup .close_btn {                    /*닫기버튼 설정*/
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.modal_popup {                                /*모달창 크기 (이걸 조절하고 scale를 1로 하는게 보기에는 좋을듯)*/
    width: 30%;                          
    height: 45%;
    margin-right: 20%;
}
.close_btn {                                             /*닫기버튼 위치*/
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -33px;
}

h2 {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: rgb(189, 168, 235);
}
span {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: rgb(189, 168, 235);
}
p {
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 70%;
    color: #e0bf4c;
}
button a {
    font-family: 'Times New Roman';
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
}
sub {
    color: rgb(255, 97, 97);
}
button {
    margin-top: 5px;
    float: right;
    padding: 2px 2px;
    background-color: #333;
    border: 1px solid #e0bf4c;
    border-radius: 2px;
}

#pink {
    background-color: pink;
    color: white;
    padding: 2px;
    font-size: 100%;
    border-radius: 2px;
}

#green {
    background-color: rgb(71, 240, 108);
    color: white;
    padding: 2px;
    font-size: 100%;
    border-radius: 2px;
}

#blue {
    background-color: rgb(196, 192, 255);
    color: white;
    padding: 2px;
    font-size: 100%;
    border-radius: 2px;
}
/* 1. 사이트 소개 */
#ourbusiness img {
    position: relative;
    margin-top: 50px;
    top: 0;
    left: 23%;
}