@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.cute-font-regular {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: "Cute Font", sans-serif;
}

:root{
    --background-image: url(./img/iq배경.png);
    --background-opacity: 0.3;
}

body::before {
    content: ""; /* 가상 요소 내용*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-image: var(--background-image); /* 'var'는 변수 값 가져오기*/
    background-size: contain;
    background-position: center;
    opacity: var(--background-opacity); /* 'var'는 변수 값 가져오기*/
    z-index: -1;
}

body.started::before {
    display: none;
}

body.started::before {
    display: none;
}

body {
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: transparent;
    padding: 20px;
    border: 2px solid #111;
}

header > #title {
    font-size: 150%;
    border: 2px solid #111;
}

#startIQ{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 100%;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px 30px 30px 30px;
    transition: transform 0.3s;
}

#startIQ:hover{
    transform: scale(1.1);  /* 호버할 때 1.1배 확대 */
}

#IQstart {
    font-size: 200%;
    text-align: center;
}

#startIQ{
    position: relative;
    right: 250px;
    top: 100px;
}

#header > #title > h1 {
    text-align: center;
}


/*설문지 질문*/
.문제{
    background-color: transparent;
    text-align: center;
    font-size: 300%;
    font-family: sans-serif;
}
/*5지선다 박스 속성*/
.선택 > img {
    float: left;
    background-color: #fff;
    width: 30%;
    height: 60%;
    padding: 5px 100px;
    border: 2px solid #111;
    margin: 0  50px;
    position: relative;
}

.선택 table {
    float: right;
    width: 40%;
    font-size: 20px;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border: 2px solid #111;
    padding: 20px;
    margin: 0 50px;
    text-align: center;
    position: relative;
    right: 0;
    top: 0;
}

/* 4지선다 */
.선택 th{
    list-style: none;
    padding: 15px;
}
.선택 th img{
    width: 50%;
    height: 50%;
    padding: 17px;
    margin: 17px;
}
.nextBtn img{
    position: absolute;
    right: 5%;
    bottom: -14%;
    width: 200px;
    height: 100px;
    background: transparent;
}

/* 라디오 버튼과 글씨 간격 */
label{
    padding-left: 10px;
}

/* 타이머 스타일 */
#timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer {
    font-size: 250%;; /* 타이머의 숫자 크기 */
    font-weight: bold; /* 타이머의 숫자 굵기 */
    color: rgb(252, 82, 82);
}

#timeBarContainer {
    margin: 0 auto;
    width: 80%;
    height: 10px;
    background-color: #e0e0e0;
    margin-top: 5px;
    position: relative;
}

#timeBar {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(40, 40, 85);
    transition: width 1s linear; /* 애니메이션 추가 */
}

/* 원 안의 텍스트 */
.circle {
    display: inline-block;
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    background-color: rgb(219, 115, 245);
    text-align: center;
    margin-right: 10px;
}

