.sidebar {
    list-style: none;
}
.sidebar {
    height: 100%;
    width: 100px; /* 사이드바의 폭 */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333; /* 사이드바의 배경색 */
    transition: width 0.5s; /* 사이드바 너비 변경 애니메이션 */
    overflow-x: hidden; /* 너비가 작아질 때 스크롤이 생기지 않도록 설정 */
    z-index: 999;
}
.sidebar:hover {
    width: 300px; /* hover 상태일 때 사이드바 너비 증가 */
}
.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: transparent; /* 글자를 투명하게 설정하여 숨김 */
    display: block;
}
.sidebar:hover a {
    color: #fff; /* hover 상태일 때 글자 색상을 보이도록 변경 */
}
.sidebar > ul {
    list-style: none;
}
.sidebar a:hover {
    background-color: #555; /* 마우스 호버시 링크의 배경색 */
}
.sidebar > ul > li {
    position: relative;
}
.sidebar > ul > li > ul {
    display: none; /*마우스 호버 전 test 메뉴 안 보이게*/
    position: absolute;
}
.sidebar > ul > li:hover > ul {
    display: block; /*호버시 메뉴 열리게*/
}
