body, ul, li {
    margin : 0;
    padding : 0;
    list-style: none;
}
#sitename{
    font-size: 1.5em;
    margin: 50px;
    text-align: center;
}
 ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#topbar {
    font: bold 40px "malgun gothic";
    width: 100%;
    height: 150px;
    background: #333;
    color: #969bd7;
    line-height: 150px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 
        3px 3px 0 black, 
        -3px -3px 0 black, 
        3px -3px 0 black, 
        -3px 3px 0 black;
}
#topbar > ul > li {
    float : left;
    margin: 0px 20px;
    width : 400px;
    position: relative;
}
#topbar > ul > li > ul {
    width : 130px;
    display : none;
    position : absolute;
    background-color: #e7e7e7;
}

#topbar > ul > li:hover > ul {
    display: block;
}
#topbar > ul > li > ul > li:hover {
    background-color: gray;
    transition : ease 1s;
}
