/* 
body, ul, li {
    margin : 0;
    padding : 0;
    list-style: none;
}
#sitename{
    font-size: 1.5em;
    margin: 50px;
    text-align: center;
}
 ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#topbar {
    font: bold 32px "malgun gothic";
    width: 100%;
    height: 100px;
    background: #333;
    color: #969bd7;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 
        2px 2px 0 black, 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black;
}
#topbar > ul > li {
    float : left;
    margin: 20px 30px;
    width : 300px;
    position: relative;
    cursor: pointer;
}


#topbar > ul > li:hover {
    background-color: #444;
    color: #9e46a1;
    border-radius: 15px;
    
}

#topbar > ul > li > ul {
    width : 130px;
    display : none;
    position : absolute;
    background-color: #e7e7e7;
}

#topbar > ul > li:hover > ul {
    display: block;
}
#topbar > ul > li > ul > li:hover {
    background-color: gray;
    transition : ease 1s;
}

*/

